:root {
    --primary-text-color: #2c2c2c;
    --accent-text-color: #BBF330;
    --btn--bg: #BBF330;
    --hover-btn: #FFE450;
    --mobile-menu-color:  #7EB101;
    --mobile-menu-hover: #FFE550;
    --yellow-main: #FFE550;
    --bgc-color: #FEFEFE;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--bgc-color);
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
h1, h2, h3, p {
    margin: 0;
}
img {
    display: block;
}
link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
/* base styles for small devices */
.container {
    min-width: 320px;
    max-width: 480px;
    padding: 0 20px;
    margin: 0 auto;
}
/* Tablet screen */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-right: 32px;
        padding-left: 32px;
    }
}

/* Desktop screen */
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

/* header styles */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 186px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
   
}
@media screen and (max-width: 801.98px) {
.header-wrap {
display: none;
}
}
.nav-list {
    display: flex;
    gap: 28px;
}

.header-link {
    /* margin-right: auto; */
}
.header-icon {

}
.navigation {
    margin-right: 30px;
}
.nav-item {

}
.nav-link {
    display: block;
    padding: 28px 0;
    color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-text-color);
    font-weight: 700;
    text-decoration: underline;

}
.header-btn {
    color: var(--primary-text-color);
font-size: 13px;
font-family: inherit;
font-style: normal;
font-weight: 500;
line-height: 150%;
cursor: pointer;
color: var(--primary-text-color);
background-color: var(--btn--bg);
border-radius: 30px;
   border: none;
   padding: 6px 18px;
}
.header-btn:hover,
.header-btn:focus
{
   background-color: var(--hover-btn);
}
/* mobile menu styles */

.menu-toggle {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 6px 2px;
    border: none;
    cursor: pointer;
}
.menu-toggle:hover .mobile-menu-icon {
    fill: var(--mobile-menu-hover);
}
.menu-toggle:focus .mobile-menu-icon {
    fill: var(--mobile-menu-hover);
}
.js-open-menu {
}
.mobile-menu-icon {
    fill: var(--mobile-menu-color);
    
}
/* hero styles */
.hero {
    padding-bottom: 15px;
       }
/* mobile */
.hero-title {
font-size: 28px;
line-height: normal;
margin-bottom: 28px;

display: flex;
flex-direction: column;
gap: 38px;
align-items: center;
justify-content: center;
}
.hero-title::before {
    content: "";
    width: 280px;
    height: 3px;
    background-color: #D9D9D9;
}
.hero-text {
font-size: 14px;
line-height: 1.4;

margin-bottom: 32px;
}
/* mobile */
@media screen and (max-width:801.98px) {
.hero-image {
display: none;
}
}
.hero-btn {
color: var(--primary-text-color);
font-size: 13px;
font-family: inherit;
font-weight: 500;
line-height: 1.5;
cursor: pointer;
padding: 6px 18px;
background-color: var(--btn--bg);
border-radius: 30px;
border: none;

min-width: 98px;
min-height: 32px;
}
.hero-container {
    padding-top: 19px;
    padding-bottom: 50px;
      
}

/* offering styles */
.offerings-container {
    /* display: flex;
    align-items: center;
    gap: 90px; */
   
    padding-top: 41px;
    padding-bottom: 72px;

    background-image: url(../images/offerings/bgc-yellow.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.container-inform {

}
.offerings {
}

.offerings-img-fourth {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    position: relative;

    margin-bottom: 60px;
}

.offerings-img-third {
    width: 255px;
    height: 255px;
    border-radius: 50%;
    background-color: #FEFEFE;
    /* display: flex;
    justify-content: center; */
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.offerings-image {
    position: absolute;
    bottom: 53px;
    left: 42px;
}
.offerings-img-second {
    fill: radial-gradient(50.00% 50.00% at 50.00% 50.00%, #2F583F 0%, rgba(105, 105, 105, 0.00) 100%);
    filter: blur(6.61818265914917px);

    position: absolute;
    bottom: 38px;
    left: 79px;
}
.offerings-title {
    font-size: 28px;
    line-height: normal;

    margin-bottom: 28px;
}
.offerings-text {
    font-size: 14px;
    line-height: 1.4;

    /* display: block;
    max-width: 526px; */
    margin-bottom: 28px;
}
.offerings-list {
      margin-bottom: 28px;
}
.offerings-item {
   
}
.svg-container {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    background-color: #FEFEFE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 7px;

}
.offerings-icon {
    fill: #7EB101;
}
.offerings-subtitle {
    font-size: 18px;
    line-height: normal;

    margin-bottom: 16px;
}
.offerings-desc {
    font-size: 14px;
    line-height: 1.4;

    margin-bottom: 24px;
  }
  .offerings-wrap {

    display: flex;
    align-items: center;
      }
.offerings-btn {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;

    border-radius: 30px;
    border: 2px solid var(--mobile-menu-color);
    background: #FFF;
    min-width: 106px;
    padding: 10px 22px;
    margin-right: 24px;

    cursor: pointer;
 }
.offerings-btn:hover,
.offerings-btn:focus {
    border-color: #BBF330;
    background-color: #BBF330;
}

.offerings-link {
    color: inherit;
    font-size: 13.667px;
    line-height: 1.5;
    margin-right: 3.5px;
   
}
.offerings-link-icon {

}
/* favourites styles */
.favor {
}
.favor-container {
    padding-top: 60px;
    padding-bottom: 60px;

}
.favor-title {
    font-size: 28px;
    text-align: center;
    line-height: normal;

    margin-bottom: 20px;
}
.favor-text {
    text-align: center;
    font-size: 14px;
    line-height: normal;

    margin-bottom: 60px;
}
.favor-list {
}
.favor-item {
    width: 280px;
    height: 282px;
    border: 11px solid var(--yellow-main);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.favor-item:not(:last-child) {
    margin-bottom: 20px;
}
.favor-image {
}

/* review styles */
.review {
}
.review-container {
    background-image: url(../images/reviews/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 60px;
    padding-bottom: 60px;
}
.review-title {
font-size: 28px;
line-height: normal;

margin-bottom: 20px;
}
.review-text {
    font-size: 14px;
    line-height: normal;

    margin-bottom: 32px;
}
.review-list {
    display: flex;
flex-direction: column;
gap: 24px;

}
.review-item {
    background-color: #FFFFFF;

    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;

    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.review--icon {
    fill: var(--yellow-main);

    margin-bottom: 28px;
}
.review-quote {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 42px;
}
.review-wrap {
    display: flex;
    gap: 16px;
    flex-direction: row;
}

.review-image {
}
.review-wrap-subtitle {
    display: block;
    padding-right: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-right: 1px solid var(--mobile-menu-color);
}
.review-subtitle {
    margin-bottom: 2px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}
.review-deck {
line-height: 1.5;
}

/* offers styles */
.offers {
}
.offers-container {
    padding-top: 52px;
    padding-bottom: 60px;
    position: relative;
}
.offers-img-wrap {
    width: 280px;
    height: 78px;
    position: absolute;
    bottom: 357px;
    left: 20px;

    /* margin-bottom: 17px; */

    display: flex;
    align-items: center;
    justify-content: center;
}
.offers-img {
   
}
.offers-title {
    font-size: 28px;
    line-height: 1.2;

    margin-bottom: 20px;
}
.offers-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 40px;
}
.offers-form {

}
.offers-input {
    border-radius: 30px;
    border: 0.854px solid var(--yellow-main);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #505050;

    width: 100%;

    margin-bottom: 20px;
}
.offers-btn {
    background-color: var(--btn--bg);
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* padding: 11px 22px; */
    min-width: 103px;
    min-height: 42px;
    border-color: transparent;
    border-radius: 30px;

    font-size: 13px;
font-weight: 500;
line-height: 1.5;
 }

/* footer styles */
.footer {
    background-image: url(../images/footer/apple-first-min.png), url(../images/footer/orange-min.png), url(../images/footer/drops_orange-min.png), url(../images/footer/fruits-min.png);
    background-repeat: no-repeat;
    background-size: 116px 110px, 60px 205px, 104px 259px, 253px 66px;
    background-repeat: no-repeat;
    background-position: left 132px, top right, top right, bottom center;
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 63px;

    box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.10);


}
.footer-nav-wrap {
    display: flex;
    gap: 46px;
   
}
.footer-link {
}
.footer-icon {
}
.footer-navigation {
}
.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.footer-nav-item {
}
.footer-nav-link {
    color: #000;
    /* font-weight: 400; */
    line-height: normal;
}
.footer-subscribe {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;

    margin-bottom: 12px;
}

.footer-form {
}
.footer-input {
    border-radius: 30px;
    border: 0.854px solid var(--yellow-main);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #505050;

    width: 100%;

    margin-bottom: 20px;
}
.form-btn {
    background-color: #FFF;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    min-width: 103px;
    min-height: 35px;
    border: 0.854px solid var(--mobile-menu-color);
    border-radius: 30px;

    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    color: inherit;

    margin-bottom: 24px;
}
.footer-agree {
    font-size: 10px;
    line-height: normal;

    margin-bottom: 60px;
}
.footer-agree-text {
}
.footer-agree-link {
    color: var(--mobile-menu-color);
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
 
}
.footer-service-list {
    display: flex;
    gap: 32px;

    margin-bottom: 40px;
}
.footer-service-item {
}
.footer-service-link {
    color: var(--mobile-menu-color);
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}
.footer-text-right {
    font-size: 10px;
    font-weight: 400;
    line-height: normal;

    text-align: center;
}