:root {
    --primary-text-color: #2c2c2c;
    --accent-text-color: #BBF330;
    --btn--bg: #BBF330;
    --hover-btn: #FFE450;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--primary-text-color)
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
h1, h2, h3, p {
    margin: 0;
}
img {
    display: block;
}
link {
    text-decoration: none;
}

.container {
    min-width: 320px;
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

/* header styles */
.header-container {
    display: flex;
    gap: 186px;
   
}
@media screen and (max-width: 801.98px) {
.header-wrap {
display: none;
}
}
.nav-list {
    display: flex;
    gap: 28px;
}

.header-link {
    /* margin-right: auto; */
}
.header-icon {

}
.navigation {
    margin-right: 30px;
}
.nav-item {

}
.nav-link {
    display: block;
    padding: 28px 0;
    color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-text-color);
    font-weight: 700;
    text-decoration: underline;

}
.header-btn {
    color: var(--primary-text-color);
font-size: 13px;
font-family: inherit;
font-style: normal;
font-weight: 500;
line-height: 150%;
cursor: pointer;
color: var(--primary-text-color);
background-color: var(--btn--bg);
border-radius: 30px;
   border: none;
   padding: 6px 18px;
}
.header-btn:hover,
.header-btn:focus
{
   background-color: var(--hover-btn);
}
/* mobile menu styles */

.menu-toggle {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.js-open-menu {
}
.mobile-menu-icon {
   
}

/* hero styles */
.hero {
    padding-top: 14px;
    padding-bottom: 15px;
}
.hero-title {
    font-size: 48px;
line-height: 120%;
margin-bottom: 28px;

}
.hero-text {
    font-size: 16px;
line-height: 150%;
margin-bottom: 46px;
}
.hero-image {

}
.hero-btn {
    color: var(--primary-text-color);
font-size: 13px;
font-family: inherit;
font-weight: 500;
line-height: 150%;
cursor: pointer;
padding: 6px 18px;
background-color: var(--btn--bg);
border-radius: 30px;
border: none;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text-wrap {
    max-width: 511px;
}
/* offering styles */
.offerings-container {
    display: flex;
    align-items: center;
    gap: 90px;
}
.container-inform {

}
.offerings {
}

.offerings-container-image-first {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    position: relative;
}
.offerings-container-image-second {
    width: 502px;
    height: 502px;
    border-radius: 50%;
    background-color: #FEFEFE;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 24px;
    left: 24px;
}
.offerings-container-image-third {
    width: 252px;
    height: 87px;
    fill: radial-gradient(50.00% 50.00% at 50.00% 50.00%, #2F583F 0%, rgba(105, 105, 105, 0.00) 100%);
    filter: blur(13px);
    position: absolute;
    bottom: 75px;
    left: 155px;
    flex-shrink: 0;
}
.offerings-image {
    position: absolute;
    bottom: 102px;
    left: 84px;
}
.offerings-title {
    color: #2C2C2C;
    font-family: Roboto, sans-serif;
    font-size: 42px;
    line-height: 120%;

    display: block;
    max-width: 526px;
    margin-bottom: 20px;
}
.offerings-text {
    color: #2C2C2C;
    font-family: Roboto, sans-serif;
    line-height: 150%;

    display: block;
    max-width: 526px;
    margin-bottom: 40px;
}
.offerings-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 67px;

    margin-bottom: 32px;
}
.offerings-item {
   
}
.svg-container {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    background-color: #FEFEFE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offerings-icon {
    fill: #7EB101;
}
.offerings-subtitle {
    color: #2C2C2C;
    font-size: 18px;
    line-height: 140%;


    margin-bottom: 16px;
}
.offerings-desc {
    color: #2C2C2C;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 150%;
    max-width: 264px;
}
.offerings-btn {
    color: #2C2C2C;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 150%;

    border-radius: 30px;
    border: 2px solid #7EB101;
    background: #FFF;
    min-width: 106px;
    padding: 10px 22px;

    cursor: pointer;
}
.offerings-btn:hover,
.offerings-btn:focus {
    border-color: #BBF330;
    background-color: #BBF330;
}
/* favourites styles */
.favor {
}
.favor-container {

}
.favor-title {
}
.favor-text {
}
.favor-list {
}
.favor-item {
}
.favor-image {
}

/* review styles */
.review {
}
.review-title {
}
.review-text {
}
.review-list {
}
.review-item {
}
.review-quote {
}
.review-image {
}
.review-subtitle {
}
.review-deck {
}

/* offers styles */
.offers {
}
.offers-container {

}
.offers-title {
}
.offers-text {
}
.offers-form {
}
.offers-input {
}
.offers-btn {
}
.offers-image {
}

/* footer styles */
.footer {
}
.footer-link {
}
.footer-logo {
}
.footer-list {
}
.footer-item {
}
.footer-subscribe {
}
.footer-form {
}
.footer-input {
}
.form-btn {
}
.footer-agree {
}
.footer-agree-text {
}
.footer-agree-link {
}
.footer-service-list {
}
.footer-service-item {
}
.footer-service-link {
}
.footer-text-right {
}