:root {
    --primary-text-color: #2c2c2c;
    --accent-text-color: #BBF330;
    --btn--bg: #BBF330;
    --hover-btn: #FFE450;
    --mobile-menu-color:  #7EB101;
    --mobile-menu-hover: #FFE550;
    --yellow-main: #FFE550;
    --bgc-color: #FEFEFE;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--bgc-color);
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
h1, h2, h3, p {
    margin: 0;
}
img {
    display: block;
}
link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.container {
    min-width: 320px;
    /* max-width: 320.01px; */
    padding: 0 20px;
    margin: 0 auto;
}


/* header styles */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 186px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
   
}
@media screen and (max-width: 801.98px) {
.header-wrap {
display: none;
}
}
.nav-list {
    display: flex;
    gap: 28px;
}

.header-link {
    /* margin-right: auto; */
}
.header-icon {

}
.navigation {
    margin-right: 30px;
}
.nav-item {

}
.nav-link {
    display: block;
    padding: 28px 0;
    color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-text-color);
    font-weight: 700;
    text-decoration: underline;

}
.header-btn {
    color: var(--primary-text-color);
font-size: 13px;
font-family: inherit;
font-style: normal;
font-weight: 500;
line-height: 150%;
cursor: pointer;
color: var(--primary-text-color);
background-color: var(--btn--bg);
border-radius: 30px;
   border: none;
   padding: 6px 18px;
}
.header-btn:hover,
.header-btn:focus
{
   background-color: var(--hover-btn);
}
/* mobile menu styles */

.menu-toggle {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 6px 2px;
    border: none;
    cursor: pointer;
}
.menu-toggle:hover .mobile-menu-icon {
    fill: var(--mobile-menu-hover);
}
.menu-toggle:focus .mobile-menu-icon {
    fill: var(--mobile-menu-hover);
}
.js-open-menu {
}
.mobile-menu-icon {
    fill: var(--mobile-menu-color);
    
}
/* hero styles */
.hero {
    padding-bottom: 15px;
       }
/* mobile */
.hero-title {
font-size: 28px;
line-height: normal;
margin-bottom: 28px;

display: flex;
flex-direction: column;
gap: 38px;
align-items: center;
justify-content: center;
}
.hero-title::before {
    content: "";
    width: 280px;
    height: 3px;
    background-color: #D9D9D9;
}
.hero-text {
font-size: 14px;
line-height: 1.4;

margin-bottom: 32px;
}
/* mobile */
@media screen and (max-width:801.98px) {
.hero-image {
display: none;
}
}
.hero-btn {
color: var(--primary-text-color);
font-size: 13px;
font-family: inherit;
font-weight: 500;
line-height: 1.5;
cursor: pointer;
padding: 6px 18px;
background-color: var(--btn--bg);
border-radius: 30px;
border: none;

min-width: 98px;
min-height: 32px;
}
.hero-container {
    padding-top: 19px;
    padding-bottom: 50px;
      
}

/* offering styles */
.offerings-container {
    /* display: flex;
    align-items: center;
    gap: 90px; */
   
    padding-top: 41px;
    padding-bottom: 72px;

    background-image: url(../images/offerings/bgc-yellow.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.container-inform {

}
.offerings {
}

.offerings-img-fourth {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    position: relative;

    margin-bottom: 60px;
}

.offerings-img-third {
    width: 255px;
    height: 255px;
    border-radius: 50%;
    background-color: #FEFEFE;
    /* display: flex;
    justify-content: center; */
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.offerings-image {
    position: absolute;
    bottom: 53px;
    left: 42px;
}
.offerings-img-second {
    fill: radial-gradient(50.00% 50.00% at 50.00% 50.00%, #2F583F 0%, rgba(105, 105, 105, 0.00) 100%);
    filter: blur(6.61818265914917px);

    position: absolute;
    bottom: 38px;
    left: 79px;
}
.offerings-title {
    font-size: 28px;
    line-height: normal;

    margin-bottom: 28px;
}
.offerings-text {
    font-size: 14px;
    line-height: 1.4;

    /* display: block;
    max-width: 526px; */
    margin-bottom: 28px;
}
.offerings-list {
      margin-bottom: 28px;
}
.offerings-item {
   
}
.svg-container {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    background-color: #FEFEFE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 7px;

}
.offerings-icon {
    fill: #7EB101;
}
.offerings-subtitle {
    font-size: 18px;
    line-height: normal;

    margin-bottom: 16px;
}
.offerings-desc {
    font-size: 14px;
    line-height: 1.4;

    margin-bottom: 24px;
  }
  .offerings-wrap {

    display: flex;
    align-items: center;
      }
.offerings-btn {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;

    border-radius: 30px;
    border: 2px solid var(--mobile-menu-color);
    background: #FFF;
    min-width: 106px;
    padding: 10px 22px;
    margin-right: 24px;

    cursor: pointer;
 }
.offerings-btn:hover,
.offerings-btn:focus {
    border-color: #BBF330;
    background-color: #BBF330;
}

.offerings-link {
    color: inherit;
    font-size: 13.667px;
    line-height: 1.5;
    margin-right: 3.5px;
   
}
.offerings-link-icon {

}
/* favourites styles */
.favor {
}
.favor-container {
    padding-top: 60px;
    padding-bottom: 60px;

}
.favor-title {
    font-size: 28px;
    text-align: center;
    line-height: normal;

    margin-bottom: 20px;
}
.favor-text {
    text-align: center;
    font-size: 14px;
    line-height: normal;

    margin-bottom: 60px;
}
.favor-list {
}
.favor-item {
    width: 280px;
    height: 282px;
    border: 11px solid var(--yellow-main);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.favor-item:not(:last-child) {
    margin-bottom: 20px;
}
.favor-image {
}

/* review styles */
.review {
}
.review-container {
    background-color: var(--yellow-main);

    padding-top: 60px;
    padding-bottom: 17px;
}
.review-title {
font-size: 28px;
line-height: normal;

margin-bottom: 20px;
}
.review-text {
    font-size: 14px;
    line-height: normal;

    margin-bottom: 32px;
}
.review-list {
    display: flex;
flex-direction: column;
gap: 24px;

}
.review-item {
    background-color: #FFFFFF;

    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
.review--icon {
    fill: var(--yellow-main);

    margin-bottom: 28px;
}
.review-quote {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 42px;
}
.review-wrap {
    display: flex;
    gap: 16px;
    flex-direction: row;
}
.review-wrap::after {
    content: "";
    width: 0.85px;
    height: 52px;
    color: #7EB101;
  
}
.review-image {
}
.review-wrap-subtitle {

}
.review-subtitle {
    margin-bottom: 2px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}
.review-deck {
line-height: 1.5;
}

/* offers styles */
.offers {
}
.offers-container {

}
.offers-title {
}
.offers-text {
}
.offers-form {
}
.offers-input {
}
.offers-btn {
}
.offers-image {
}

/* footer styles */
.footer {
}
.footer-link {
}
.footer-logo {
}
.footer-list {
}
.footer-item {
}
.footer-subscribe {
}
.footer-form {
}
.footer-input {
}
.form-btn {
}
.footer-agree {
}
.footer-agree-text {
}
.footer-agree-link {
}
.footer-service-list {
}
.footer-service-item {
}
.footer-service-link {
}
.footer-text-right {
}